In [1]:
# print 0 to 20 by using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
# print range 10 to 20
for num in range(10, 20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [5]:
# Print number of items in the list by using 'len'
num_list= [10, 20, 14, 55, 43, 87, 76]
length= len(num_list)
print(num_list)
print("Number of item in the List2:")
print(length)

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [7]:
name = input("")
for letter in name:
    print(letter)

 Artificial Intelligence

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [8]:
name = input("")
age = int(input())
profession = input()

 Marudha Nayagam M
 28
 Aspiring AI Engineer

In [9]:
list1 = [1, 'Welcome', 2, 'Hope']
Tuple1 = tuple(list1)
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

In [13]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')

# nested tuple
nested_tuple = (Tuple1,Tuple2)
print(nested_tuple)

# # concatination
# print(Tuple1 + Tuple2 )

((0, 1, 2, 3), ('python', 'HOPE'))

In [20]:
# print Odd Numbers in the list
tuple1 = (20,10,16,19,25,1,276,188)
for num in tuple1:
    if num % 2 == 1:
        print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [21]:
# print Even Numbers in the list
tuple1 = (20,10,16,19,25,1,276,188)
for num in tuple1:
    if num % 2 == 0:
        print(num,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even